.header-wrapper{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-height: 3.185rem;
    align-items: center;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 1.5rem;
}
.header-section-2{
    display: flex;
    align-items: center;
}
.bellIcon{
    position: relative;
    margin: 0 1.25rem 1rem 1.25rem ;
    width: 1.125rem;
    height: 1.25rem;
}
.profilePicture{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
}
.relative{
    position: relative;
    cursor: pointer;
}

.dropDownWrapper{
    position: absolute;
    right: 0.5rem;
    top: 3rem;
}