.tasks-wrapper{
    padding-left: 0.9rem;
    font-family: 'lato';
    color: #999999;
    font-weight: 400;
    margin-bottom: 0.81rem;
}
.tasks-header{
    color: #666666;
    font-weight: 700;

}

