.search-icon-container{
    display: flex;
    width: 0.75rem;
    height: 0.75rem;
    position: relative;
}
.input-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    position: relative;
    
}
.input-field{
    border: none;
    border-radius: 0.625rem;
    padding: 0.375rem 0.9375rem;
    font-size: 0.875rem;
    color: #B0B0B0;
    font-family: 'lato';
    font-weight: 400;
}
.image-wrapper{
    position: absolute;
    right: 0.9375rem
}